<header class="py-6 border-3 border-bottom border-dark">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="header-side navbar py-0 flex-md-nowrap">
            <div class="logo">
                <h1>
                    <a href="./index.html" class="navbar-brand d-flex align-items-center">
                        <img class="brand-pic" src="../assets/images/logo.png" alt="logo-pic">
                        <div class="logo-txt ms-4 d-none d-md-block">
                            <span class="title fs-3 pe-1">7TAO</span>
                            <span class="secondary-title fw-bold">活動訂票網</span>
                        </div>
                    </a>
                </h1>
            </div>

            <div class="search-bar">
                <form class="d-flex">
                    <input class="form-control rounded-0 ms-lg-12 ms-sm-6" type="search" placeholder="探索活動"
                        aria-label="Search">
                    <button class="btn btn-dark rounded-0 p-0" type="submit">
                        <i class="icofont-search-1 p-4"></i>
                    </button>
                </form>
            </div>
        </div>
        <nav class="d-none d-lg-block">
            <ul class="nav">
                <li class="nav-item me-6">
                    <a href="" class="nav-link">
                        <i class="icofont-ui-file"></i>
                        <span>REFISTER</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="icofont-ui-user"></i>
                        <span>LOGIN</span>
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="d-lg-none d-md-block">
            <div class="hamburger">
                <a class="menu-icon d-flex align-items-center border border-dark rounded h-100"
                    data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <i class="icofont-navigation-menu"></i>
                </a>
            </div>
        </nav>
    </div>
</header>


<div class="collapse" id="collapseExample">
    <ul class="container list-unstyled border-bottom border-2 border-dark py-4">
        <li class="mb-3">
            <a href="#" class="d-flex align-items-center">
                <!-- 這邊先統一使用 material ，在實際執行第六週作業時需使用 icofont-->
                <span class="material-symbols-outlined fs-18">
                    description
                </span>
                REGISTER
            </a>
        </li>
        <li>
            <a href="#" class="d-flex align-items-center">
                <span class="material-symbols-outlined fs-18">
                    person
                </span>
                LOGIN
            </a>
        </li>
    </ul>
</div>